// @author Andrew Basore
// Intent: Make grid styling for Component that displays biographical information
.home{
    //Setup CSS Grid
    
    display:grid;
    grid-template-areas:
            "head head head"
            "photo photo photo"
            "bio bio bio";
            
    grid-template-rows:   60px $face-size 1fr;
    @media(min-width:440px){
        grid-template-rows: 100px $face-size 1fr;
    }

    @media(max-width: 800px){
        @media(min-width:410px){
            .contact{
                transform: translateX(-50px);
            }
        }
    }
    @media(min-width: 800px){
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "head head head"
            "photo photo  contact"
            "bio bio contact";

        //translate contact up
        .contact{
            transform: translateY(-150px);
        }
    }

    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;

    justify-items: center;
    align-items: top;
    padding: 0 4%;
    

    //Place elements into their grid
    h1{
        grid-area: head;
    }

    #face{
        grid-area: photo;
        height: $face-size;
        width: $face-size;
        border-radius: 100%;
        box-shadow: 8px 4px teal, -8px -4px $russian-violet;
    }
    p{
        max-width: 380px;
        grid-area: bio;
        margin: 1% 6% ;
        align-self: center;
        justify-self: both;
        
    }
    .social-media{
        img{
            width: 40px;
            height: 40px;
            margin: 5px;
        }
    }

    .contact{
        width: 100%;        
    }
    
}