
<h1>Uptime Monitoring</h1>
<h2>Made Simple</h2>

<div class="blurb">We offer free, simple monitoring for HTTP/HTTPS sites of all kinds. When your site goes down, you will get a text to let you know! Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit eum pariatur sint commodi doloremque rem quae fuga itaque sunt, deserunt, alias ad incidunt doloribus ea provident consectetur. Pariatur ut temporibus quibusdam enim, illum quod doloribus optio omnis veritatis harum id similique fugit quaerat, officia odit architecto esse adipisci. Atque, id?</div>

<div class="ctaWrapper">
    <a href="account/create" class="cta green">Get Started</a>
    <a href="session/create" class="cta blue">Login</a>
</div>