
.portfolio{
    @import './spinningcubes.scss';

    
        display: grid;
        grid-template-rows: 120px repeat(5, 250px);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "head"
            "content";



    //zero out padding on small screens to fit cube
    @media(max-width: 420px){
        margin: 0;
        padding: 0;
    }

    //change template-areas to fit 2 Project cubes per row


    //place content into appropriate areas
    .main-header{
        grid-column: span 3;
    }
    .content{
        display: inline;
        grid-column: span 3;
    }

    // @media(min-width: 950px){
    //     .content{
    //         grid-column: span 1;
    //     }
        
    // }


}